/* Apply a clean font and base styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #f5f7fa, #e8ecf1);
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4b0082;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 54px;
  margin: 0;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #666;
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  width: 100%;
}

.form-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.prompt {
  width: 75%;
  padding: 16px;
  font-size: 16px;
  border: 2px solid #cccccc;
  border-radius: 12px;
  transition: 0.3s;
  margin-bottom: 20px;
}

.prompt:focus {
  outline: none;
  border-color: #4b0082;
}

.button {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #5e35b1;
}

.hint {
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  color: #777;
}

.name {
  max-width: 600px;
  margin-top: 30px;
  font-size: 20px;
  color: #4b0082;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.name ul {
  list-style: none;
  padding: 10px;
  margin: 15px;
  display: flex;
  gap: 10px;
  min-width: 150px;
}

.name li span {
  font-size: 18px;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.name li::after {
  content: "|";
  margin: 0 12px;
  color: #2c2c2c;
  pointer-events: none;
  transition: none;
}

.name li:last-child::after,
.name ul li:nth-child(5)::after {
  content: "";
}

.name li span:hover {
  transform: scale(1.05);
  color: #4b0082;
  background-color: #e5dbff;
  border-radius: 6px;
}
.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #444;
}

footer a {
  color: #4b0082;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
